input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { width 4; }
    border { off; }
    default-column-width
    center-focused-column "never"
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
}
binds {
    Super+Alt+N allow-when-locked=true hotkey-overlay-title="Toggle Night Mode" { spawn "dms-ipc" "ipc" "night" "toggle"; }
    Super+C { center-column; }
    Super+Comma hotkey-overlay-title="Toggle Settings" { spawn "dms-ipc" "ipc" "settings" "toggle"; }
    Super+Ctrl+Down { move-window-down; }
    Super+Ctrl+End { move-column-to-last; }
    Super+Ctrl+H { move-column-left; }
    Super+Ctrl+Home { move-column-to-first; }
    Super+Ctrl+I { move-column-to-workspace-up; }
    Super+Ctrl+J { move-window-down; }
    Super+Ctrl+K { move-window-up; }
    Super+Ctrl+L { move-column-right; }
    Super+Ctrl+Left { move-column-left; }
    Super+Ctrl+Page_Down { move-column-to-workspace-down; }
    Super+Ctrl+Page_Up { move-column-to-workspace-up; }
    Super+Ctrl+Right { move-column-right; }
    Super+Ctrl+U { move-column-to-workspace-down; }
    Super+Ctrl+Up { move-window-up; }
    Super+Down { focus-window-down; }
    Super+End { focus-column-last; }
    Super+Equal { set-column-width "+10%"; }
    Super+F { maximize-column; }
    Super+H { focus-column-left; }
    Super+Home { focus-column-first; }
    Super+I { focus-workspace-up; }
    Super+J { focus-window-down; }
    Super+K { focus-window-up; }
    Super+L { focus-column-right; }
    Super+Left { focus-column-left; }
    Super+Minus { set-column-width "-10%"; }
    Super+N hotkey-overlay-title="Toggle Notification Center" { spawn "dms-ipc" "ipc" "notifications" "toggle"; }
    Super+P hotkey-overlay-title="Toggle Notepad" { spawn "dms-ipc" "ipc" "notepad" "toggle"; }
    Super+Page_Down { focus-workspace-down; }
    Super+Page_Up { focus-workspace-up; }
    Super+Period { expel-window-from-column; }
    Super+Q { close-window; }
    Super+R { switch-preset-column-width; }
    Super+Right { focus-column-right; }
    Super+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Super+Shift+Ctrl+H { move-column-to-monitor-left; }
    Super+Shift+Ctrl+J { move-column-to-monitor-down; }
    Super+Shift+Ctrl+K { move-column-to-monitor-up; }
    Super+Shift+Ctrl+L { move-column-to-monitor-right; }
    Super+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Super+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Super+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Super+Shift+Down { focus-monitor-down; }
    Super+Shift+E { quit; }
    Super+Shift+Equal { set-window-height "+10%"; }
    Super+Shift+F { fullscreen-window; }
    Super+Shift+H { focus-monitor-left; }
    Super+Shift+I { move-workspace-up; }
    Super+Shift+J { focus-monitor-down; }
    Super+Shift+K { focus-monitor-up; }
    Super+Shift+L { focus-monitor-right; }
    Super+Shift+Left { focus-monitor-left; }
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+P { power-off-monitors; }
    Super+Shift+Page_Down { move-workspace-down; }
    Super+Shift+Page_Up { move-workspace-up; }
    Super+Shift+Right { focus-monitor-right; }
    Super+Shift+Slash { show-hotkey-overlay; }
    Super+Shift+U { move-workspace-down; }
    Super+Shift+Up { focus-monitor-up; }
    Super+Space hotkey-overlay-title="Toggle Application Launcher" { spawn "dms-ipc" "ipc" "spotlight" "toggle"; }
    Super+T { spawn "alacritty"; }
    Super+U { focus-workspace-down; }
    Super+Up { focus-window-up; }
    Super+V hotkey-overlay-title="Toggle Clipboard Manager" { spawn "dms-ipc" "ipc" "clipboard" "toggle"; }
    Super+X hotkey-overlay-title="Toggle Power Menu" { spawn "dms-ipc" "ipc" "powermenu" "toggle"; }
    Super+Alt+L hotkey-overlay-title="Toggle Lock Screen" { spawn "dms-ipc" "ipc" "lock" "lock"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms-ipc" "ipc" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms-ipc" "ipc" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms-ipc" "ipc" "audio" "mute"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms-ipc" "ipc" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms-ipc" "ipc" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms-ipc" "ipc" "brightness" "increment" "5" ""; }
    Super+XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease Keyboard Backlight" { spawn "brightnessctl" "--device=*::kbd_backlight" "set" "5%-"; }
    Super+XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Increase Keyboard Backlight" { spawn "brightnessctl" "--device=*::kbd_backlight" "set" "+5%"; }
}